{% extends 'base.html' %}
{% block title %} 
Camera
{% endblock %}
{% block content %}

	<script src="static/scripts/pages/Camera_admin.js"></script>

	<!-------------------------------Render Body Part---------------------------------------------------------------------------------->
	<link rel="stylesheet" href="static/css/products.css" />

	<div class="white">
		<div class="content">
			<div class="page" style="display: flex; align-items: center; justify-content: center;">
				<div class="layout-box" >
					<h3 class="indent">Camera</h3>
					<div>
						<div id="grid" class="products"></div>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}

